*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #000000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: row;
    align-content: center;
    
    
}

section{
    display: flex;
    justify-content: center;
}

h1, button{
    color: #ffffff;
}

header img{
    padding: 50px;
}

h1{
    font-weight: 700;
    font-size: xx-large;
    padding-bottom: 60px;
    margin: 20px 5px 70px;
}

header, footer{
    text-align: center;
}

#icones-usuarios{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 300px ;
}

figure {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;

    margin: 0px 7px;
    width: 160px;
}

img{
    border-radius: 10%;
}

figcaption{
    color: #808080;
    padding-top: 20px;
    font-size: larger;
}

div{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 10px 0px 100px;
}

footer{
    padding-top: 150px;
}

button{
    background-color: #000000;
    border: 1px solid whitesmoke;
    border-radius: 6%;
    font-size: large;
    padding: 10px 20px 10px 20px;
}

button:hover{
    background-color: whitesmoke;
    color: #000000;
}

.imagem:hover{
    border: 1px solid whitesmoke;
}

figcaption:hover{
    color: whitesmoke;
}

